<!-- Basic metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">

<!-- Favicons -->
<!--
<link rel="icon" href="assets/img/favicons/favicon-16.png" sizes="16x16">
<link rel="icon" href="assets/img/favicons/favicon-32.png" sizes="32x32">
<link rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon-144x144.png" sizes="144x144">
<link rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon-114x114.png" sizes="114x114">
<link rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon-72x72.png" sizes="72x72">
<link rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon.png">
-->

<!-- SEO -->
<meta name="description" content= {{ description }}>
<meta name="robots" content="index,follow">
<title>{{ title }}</title>

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:title" content= {{ title }}>
<meta property="og:description" content= {{ description }}>
<meta property="og:url" content="http://bananacss.github.io/">
<meta property="og:image" content="http://bananacss.github.io/assets/img/share.png">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content= {{ title }}>
<meta name="twitter:description" content= {{ description }}>
<meta name="twitter:url" content="http://bananacss.github.io/">
<meta name="twitter:image" content="http://bananacss.github.io/assets/img/share.png">

<!-- Styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
<link rel="stylesheet" href="../assets/styles/main.css">

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
